body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
#header {
    border-bottom: 1px solid;
}
#header * {
    display: inline-block;
}
#header img {
    width: 70px;
    border: 1px;
}
#header h1 {
    font-size: 16px;
    position: absolute;
    margin-top: 20px;
}
#header ul {
    float: right;
    margin-top: 25px;
    margin-right: 25px;
}
#header ul li {
    width: 120px;
    text-align: center;
    /* display: inline-block;
    padding: 20px; */
}
#banner {
    color: #ffffffcf;
    text-align: center;
    height: 500px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#banner p {
    padding-top: 240px;
}
#banner button {
    background-color: #ffffffcf;
    padding: 15px 32px;
    font-size: 18px;
    font-weight: bold;
}
.row {
    width: 1104px;
    margin: 0 auto;
}
.box {
    text-align: center;
    width: 385px;
    height: 240px;
    background-color: red;
    float: left;
    margin: 20px;
}
.box img {
    width: 365px;
    height: 220px;
    background-size: center;
}
.box button {

}
section {
    overflow: hidden;
    position: relative;
}
footer {
    background-color: blueviolet;
    color: #ffffff;
    text-align: center;
    padding: 5px 0 5px 0;
}